.btn {
    color: yellow;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    font-size: 12pt;
}

.answer:hover {
    background: grey;
}

body {
    background: url('https://hpmedia.bloomsbury.com/rep/g/page-background%20-%20product.png');
    color: black;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 550px;
    height: 350px;
}

#title {
    font-family: 'Sigmar One', cursive;
}